name: Django DEV CI LINTING & TESTING

on:
    push:
        branches:
            - main
            # - dev: We have to apply this CI on the dev branch as container build here have dev dependencies.
    pull_request:
        branches:
            - main
            # - dev
env:
    DJANGO_SETTINGS_MODULE: config.settings.dev
    PYTHONUNBUFFERED: "1"
    PYTHONDONTWRITEBYTECODE: "1"
jobs:
    test:
        runs-on: ubuntu-latest
        services:
            postgres:
                image: postgres:18-alpine
                env:
                    POSTGRES_USER: postgres
                    POSTGRES_PASSWORD: postgres
                    POSTGRES_DB: postgres_db
                ports:
                    - 5432:5432
                options: >-
                    --health-cmd="pg_isready -U postgres"
                    --health-interval=10s
                    --health-timeout=5s
                    --health-retries=5
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.13"

            - uses: actions/cache@v5
              with:
                  path: .uv
                  key: ${{ runner.os }}-uv-${{ hashFiles('uv.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-uv-

            - name: Install uv 0.9.24
              uses: astral-sh/setup-uv@v5
              with:
                  version: "0.9.24"

            - name: Setup Python env & Install deps
              run: |
                  uv venv
                  uv sync --frozen

            - name: Run pre-commit (Ruff Auto Fix + Format Check)
              uses: pre-commit/action@v3.0.1

            - name: Wait for Postgres to be healthy
              run: |
                  until pg_isready -h localhost -p 5432 -U postgres; do
                    sleep 1
                  done

            - name: Run migrations
              env:
                  DATABASE_URL: postgresql://postgres:postgres@localhost:5432/postgres_db
              run: |
                  uv run python manage.py migrate

            - name: Run tests
              env:
                  DATABASE_URL: postgresql://postgres:postgres@localhost:5432/postgres_db
              run: |
                  uv run pytest

# -------------------------------------------------
# Use when you want to run linting and testing on dev container
# -------------------------------------------------

# name: Django DEV CI LINTING & TESTING

# on:
#     push:
#         branches:
#             - main
#             # - dev: We have to apply this CI on the dev branch as container build here have dev dependencies.
#     pull_request:
#         branches:
#             - main
#             # - dev

# env:
#     DJANGO_SETTINGS_MODULE: config.settings.dev
#     PYTHONUNBUFFERED: "1"
#     PYTHONDONTWRITEBYTECODE: "1"

# jobs:
#     lint:
#         name: Lint
#         runs-on: ubuntu-latest
#         steps:
#             - name: Checkout code
#               uses: actions/checkout@v5

#             - name: Run pre-commit (Ruff Auto Fix + Format Check)
#               uses: pre-commit/action@v3.0.1

#     test:
#         name: Test in Container
#         runs-on: ubuntu-latest
#         needs: lint
#         services:
#             postgres:
#                 image: postgres:18-alpine
#                 env:
#                     POSTGRES_USER: postgres
#                     POSTGRES_PASSWORD: postgres
#                     POSTGRES_DB: postgres_db
#                 ports:
#                     - 5432:5432
#                 options: >-
#                     --health-cmd="pg_isready -U postgres"
#                     --health-interval=10s
#                     --health-timeout=5s
#                     --health-retries=5

#         steps:
#             - name: Checkout code
#               uses: actions/checkout@v5

#             - name: Cache Docker layers
#               uses: actions/cache@v5
#               with:
#                   path: /tmp/.docker-cache
#                   key: ${{ runner.os }}-docker-${{ hashFiles('Dockerfile', '**/pyproject.toml', '**/uv.lock') }}
#                   restore-keys: |
#                       ${{ runner.os }}-docker-

#             - name: Build Django dev container
#               run: |
#                   docker build \
#                     --build-arg DJANGO_ENV=dev \
#                     -t my-django-app:dev \
#                     --cache-from=my-django-app:dev \
#                     .

#             - name: Wait for Postgres to be ready
#               run: |
#                   until pg_isready -h postgres -p 5432 -U postgres; do
#                     sleep 1
#                   done

#             # -e DATABASE_URL=postgres://postgres:postgres@host.docker.internal:5432/postgres_db \
#             - name: Run migrations in container
#               run: |
#                   docker run --rm \
#                     -e DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres_db \
#                     my-django-app:dev \
#                     uv run python manage.py migrate

#             - name: Run tests in container
#               run: |
#                   docker run --rm \
#                     -e DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres_db \
#                     my-django-app:dev \
#                     uv run pytest
